<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.mlrecommendation.gopi.androidxsamplearchitectureapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
            android:name=".commons.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".notificationsdemo.NotificationDemoActivity"></activity>

        <service
                android:name=".InterProcessComminucation.MyInterProcessService"
                android:enabled="true"
                android:exported="true" />

        <activity
                android:name=".InterProcessComminucation.ChildProcessActivity"
                android:process=":remote" />
        <activity android:name=".InterProcessComminucation.MainProcessActivity" />
        <activity android:name=".DB.sqlliteDB.SqlLiteDbTestActivity" />
        <activity android:name=".recyclerview.recyclerviewUpdatesChecker.RecyclerViewUpdatesCheckerActivity" />
        <activity android:name=".threading.completeComponents.impComponents.impComponents1.HandlerAdvancedTestActivity" />
        <activity android:name=".lifecycle.TestLifecycleActivity" />
        <activity android:name=".ViewConcepts.viewbasic.ViewAdvancedConceptsActivity" />
        <activity android:name=".ViewConcepts.viewbasic.ViewConceptsActivity" />
        <activity android:name=".recyclerview.diffUtil.DiffUtilTestActivity" />
        <activity
                android:name=".recyclerview.RecyclerviewDiffUtilTestActivity"
                android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                android:screenOrientation="sensor">

            <!-- android:configChanges="orientation|screenSize|keyboard|keyboardHidden" -->
        </activity>
        <activity android:name=".architectures.mvvm.presentation.VmPresentationActivity" />
        <activity
                android:name=".architectures.mvvm.MvvmFirstActivity"
                android:screenOrientation="sensor" />
        <activity
                android:name=".lifecycle.LifeCycleSecondActivity"
                android:process=":remote" />
        <activity android:name=".lifecycle.LifeCycleFirstActivity" />
        <activity android:name=".SingleTopTasks.FirstTaskActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SingleTopTasks.SecondTaskActivity"
                android:taskAffinity="" />
        <activity android:name=".SingleTopTasks.ThirdTaskActivity" />
        <activity android:name=".sharedPrefsPerformance.SharedPreferenceTestActivity" />
        <activity android:name=".services.ForegroundServiceTestActivity" />

        <service
                android:name=".services.MyForeGroundService"
                android:enabled="true"
                android:exported="true" />

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/computer" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="gopi_default_notification_channel_id" />

        <service
                android:name=".services.MyFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
                android:name=".services.MyForegroundIntentService"
                android:enabled="true" />
        <service android:name=".services.MyForeGroundBindService" />
        <service
                android:name=".services.messenger.MyIPCMessengerService"
                android:enabled="true"
                android:exported="true"
                android:process=":remote">
            <intent-filter>
                <action android:name="a.b.c.MY_INTENT" /> <!-- Implicit Intent to avoid className -->
            </intent-filter>
        </service>

        <activity android:name=".threading.executors.ExecutorTestActivity" />
        <activity android:name=".asynctaskTest.AsyncTestActivity" />
        <activity android:name=".rxjavaPrac.rxcode.RxCodeActivity" />
        <activity android:name=".rxjavaPrac.RxPractiseActivity" />
        <activity android:name=".androidQBubbles.BubbleHelperActivity" />
        <activity
                android:name=".androidQBubbles.BubbleActivity"
                android:allowEmbedded="true"
                android:documentLaunchMode="always"
                android:label="title_activity_bubble"
                android:resizeableActivity="true"
                android:theme="@style/NoActionBar" />
        <activity android:name=".workManager.WorkManagerActivity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".services.messenger.MessengerServiceTestActivity" />
        <activity android:name=".ViewConcepts.viewbasic.MaskTestActivity" />
    </application>

</manifest>